<%= link_to "New", new_task_path %>

<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Subject</th>
      <th scope="col">Description</th>
      <th scope="col">Priority</th>
      <th scope="col">Due Date</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
    <tr>
      <td><%= link_to task.subject, task %></td>
      <td><%= task.description %></td>
      <td><%= task.priority %></td>
      <td><%= task.due_date %></td>
    </tr>
    <% end %>
  </tbody>
</table>
